* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f7f7f7;
}

header {
  background-color: #50418f;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  color: white;
  font-weight: bold;
  font-size: 26px;
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .user div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-left: 20px;
}

header .user .log form {
  display: block;
  margin-left: 0;
}

header .user span:first-child {
  margin-bottom: 10px;
  font-weight: bold;
}

header .user div span:last-child {
  font-size: 14px;
}

header .user img {
  width: 40px;
}

aside {
  background-color: #6f5cc4;
  height: calc(100vh - 84px);
  display: inline-block;
  width: 300px;
}

aside ul {
  width: 100%;
  padding: 30px 0;
}

aside ul li {
  list-style: none;
  padding: 20px 30px;
}

aside ul li a {
  color: white;
  text-decoration: none;
}

aside ul li.active {
  list-style: none;
  padding: 20px 30px;
  border-left: 3px solid white;
  background-color: #7e6cca;
}

main {
  width: calc(100% - 340px);
  display: inline-block;
  min-height: calc( 100vh - 114px);
  vertical-align: top;
  margin-top: 30px;
  padding: 0 15px;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header h2 {
  color: #464646;
  font-size: 32px;
}

.container-header a, .delete {
  margin-left: 20px;
}

.btn {
  display: inline-block;
  background-color: #6f5cc4;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.content {
  background: white;
  margin-top: 50px;
  box-shadow: 0px 0px 18px 0px rgba(227, 227, 227, 0.75);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(227, 227, 227, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(227, 227, 227, 0.75);
  padding: 15px;
  border-radius: 15px;
}

.content table, td, th {
  text-align: left;
}

.content table {
  border-collapse: collapse;
  width: 100%;
}

.content table th {
  border-bottom: 1px solid #e6e6e6;
  color: #878787;
}

.content table th, td {
  padding: 20px;
}

.content table td {
  color: #464646;
}

.content table span.status {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  width: 60px;
  text-align: center;
}

.content table span.status.active {
  background-color: 31 203 157/20%;
  color: #10ac84;
}

.content table span.status.inactive {
  background-color: 255 107 107/20%;
  color: #ee5253;
}

.content table .actions a, .delete {
  text-decoration: none;
  color: #464646;
  background-color: #6f5cc4;
  color: white;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.content form {
  padding: 15px;
}

.content form label {
  display: block;
  margin-bottom: 10px;
  color: #464646;
}

.content form .form-group {
  margin-bottom: 15px;
}

.content form input,
.content form select {
  width: 91%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background-color: white;
}

.content form .submit {
  margin-top: 15px;
}

.Tform {
  padding: 0;
  display: inline-block;
}

.delete {
  border: none;
  cursor: pointer;
}

textarea {
  width: 1050px;
  height: 234px;
  resize: none;
  border-radius: 5px;
}

.SB {
  margin-top: 15px;
  display: inline-block;
}

.SB select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background-color: white;
}

.pagination {
  margin-top: 15px;
}

.login_container {
  width: 50%;
  margin: auto;
}

.dark {
  background-color: #686868;
}

.dark header {
  background-color: #313131;
}

.dark aside {
  background-color: #373737;
}

.dark aside li.active {
  background-color: #313131;
}

.dark .content {
  background: #a6a6a6;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.dark .content table th {
  border-bottom: 1px solid #8e8e8e;
  color: white;
}

.dark .container-header h2 {
  color: white;
}

.dark .btn,
.dark .content table .actions a,
.dark .content table .actions .delete {
  background-color: black;
}

#success {
  display: none;
}

#success h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.successful form {
  display: none;
}

.successful #success {
  display: block;
}
/*# sourceMappingURL=style.css.map */